<h1>Add Friend</h1>
<form action="/addfriend" method="post">
  <input type="text" name="friend_name" placeholder="Name"autofocus>
  <input type="text" name="age" placeholder="Age" autofocus>
  <input type="text" name="gender" placeholder="Gender" autofocus>
  <input type="text" name="image" placeholder="Image url" autofocus>
  <button>Add</button>
</form>
