<!-- <div id="container"> -->
  Welcome to Friend Lab


  <!-- <a class="btn btn-primary" href="#">hello</a>
  <a class="btn btn-info" href="#">info button</a>
  <a class="btn btn-danger btn-mini" href="#">WARNING BUTTON</a>

  <i class="icon-volume-up"></i>

  <div class="row">
  <div class="span4">a</div>
  <div class="span8">b</div>
</div>

<div class="row">
  <div class="span3">c</div>
  <div class="span3">d</div>
  <div class="span3">e</div>
  <div class="span3">f</div>
  </div>
  <div class="row">
    <div class="span2">g</div>
    <div class="span10">h</div>
          <div class="span5">h1</div>
          <div class="span5">h2</div>
  </div>
</div>
 -->