<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Friend Lab</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">

<script src="js/jquery-1.10.1.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <h1>Friend Lab</h1>

<%= yield %>

<nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/addfriend">Add Friend</a></li>
              <li><a href="/friends">Friends</a></li>
            </ul>
      </nav>

</body>
</html>

